<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    您会得到一个现有文件名序列和一个需要保存到序列中的文件名。 
</p>
<p style="text-align: justify;">
    如果序列中已存在同名文件，则应在文件名后添加数字后缀<code>(n)</code> （第一个整数<code>n</code> ，序列中不存在新文件名）。请注意，文件名可能已经包含一个或多个后缀。
</p>
<p style="text-align: justify;">
    函数应返回文件保存到序列中的名称。
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>字符串元组 <span>(str{% if is_js %}ing{% endif %})</span>和一个字符串。
</p>

<p>
   <strong>输出： 字符串</strong>字符串。 
</p>

<p>
    <strong>例子</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
