<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Вам задано послідовність імен існуючих файлів і одне ім'я файлу, яке потрібно зберегти в послідовності. 
</p>
<p style="text-align: justify;">
    Якщо файл з такою ж назвою вже існує у послідовності, то до імені файлу слід додати числовий суфікс <code>(n)</code> (перше ціле число <code>n</code>, з яким нове ім'я файлу не присутнє у послідовності). Зверніть увагу, що ім'я файлу може вже містити один або декілька суфіксів.
</p>
<p style="text-align: justify;">
    Функція повинна повернути ім'я, з яким файл буде збережено у послідовності.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Кортеж рядків <span>(str{% if is_js %}ing{% endif %})</span> та рядок.
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
