<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Vous disposez d'une séquence de noms de fichiers existants et d'un nom de fichier unique qui doit être enregistré dans la séquence. 
</p>
<p style="text-align: justify;">
    Si un fichier portant le même nom existe déjà dans la séquence, un suffixe numérique <code>(n)</code> doit être ajouté au nom du fichier (le premier entier <code>n</code>, avec lequel un nouveau nom de fichier n'est pas présent dans la séquence). Notez que le nom de fichier peut déjà inclure un ou plusieurs suffixes.
</p>
<p style="text-align: justify;">
    La fonction doit renvoyer le nom sous lequel le fichier sera enregistré dans la séquence.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Tuple de chaînes <span>(str{% if is_js %}ing{% endif %})</span> et une chaîne.
</p>

<p>
   <strong>Sortie:</strong> Chaîne. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
