<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    You are given a sequence of names of existing files and a single filename that need to be saved into the sequence. 
</p>
<p style="text-align: justify;">
    If a file with the same name already exists in the sequence, a numerical suffix <code>(n)</code> should be added to the file name (the first integer <code>n</code>, with which a new filename is not present in the sequence). Note, that filename may already include one or more suffixes.
</p>
<p style="text-align: justify;">
    The function should return the name with which the file will be saved into the sequence.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Tuple of strings <span translate="no">(str{% if is_js %}ing{% endif %})</span> and a string.
</p>

<p>
    <strong>Output:</strong> String. 
</p>

<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
