<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Sie erhalten eine Folge von Namen bestehender Dateien und einen einzelnen Dateinamen, der in der Folge gespeichert werden soll. 
</p>
<p style="text-align: justify;">
    Wenn eine Datei mit demselben Namen bereits in der Sequenz vorhanden ist, sollte ein numerisches Suffix <code>(n)</code> an den Dateinamen angehängt werden (die erste ganze Zahl <code>n</code>, mit der ein neuer Dateiname in der Sequenz nicht vorhanden ist). Beachten Sie, dass der Dateiname bereits ein oder mehrere Suffixe enthalten kann.
</p>
<p style="text-align: justify;">
    Die Funktion sollte den Namen zurückgeben, unter dem die Datei in der Sequenz gespeichert wird.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Tupel von Strings <span>(str{% if is_js %}ing{% endif %})</span> und einer Zeichenkette.
</p>

<p>
   <strong>Ausgabe:</strong> Zeichenkette. 
</p>

<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
