<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Otrzymują Państwo sekwencję nazw istniejących plików oraz pojedynczą nazwę pliku, który ma zostać zapisany w sekwencji. 
</p>
<p style="text-align: justify;">
    Jeśli plik o tej samej nazwie już istnieje w sekwencji, do nazwy pliku należy dodać numeryczny sufiks <code>(n)</code> (pierwsza liczba całkowita <code>n</code>, z którą nowa nazwa pliku nie występuje w sekwencji). Proszę zauważyć, że nazwa pliku może już zawierać jeden lub więcej przyrostków.
</p>
<p style="text-align: justify;">
    Funkcja powinna zwrócić nazwę, z jaką plik zostanie zapisany w sekwencji.
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Krotka ciągów znaków <span>(str{% if is_js %}ing{% endif %})</span> i ciąg znaków.
</p>

<p>
   <strong>Wyjście:</strong> String. 
</p>

<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
